/*WRITTEN BY STEVIE EELES*/
/*CSS IS ORDERED BY APPEARANCE IN HTML DOCUMENT*/

/* OH BY THE WAY, THIS TEXT IS HIDDEN. ITS CALLED
A "COMMENT" OR "REMARK" */

/* MAIN MOBILE CSS CONFIG */

/*CONTROLS THE MAIN DOCUMENT, NO EDITING NEEDED
UNLESS BACKGROUND COLOUR OR IMAGE NEED CHANGING*/
html {
	background-color: rgba(0, 181, 204,1);
	background-attachment: fixed;
	width: 100%;
	height: auto;
	scroll-behaviour: smooth;
}

/*CONTROLS THE MAIN BODY - THE LIGHT BLUE AREA.
AGAIN, PROBABLY NO EDIITING NEEDED*/
body {
	border: 1px outset #ffffff;
	border-radius: 4px;
/*	box-shadow: 4px 4px 8px #181818; */
	padding-top: 10px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 5px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-top: 3%;
	margin-right: 0%;
	margin-left: 3%;
	background-color: rgba(30, 139, 195,0.6);
	font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;
	color: #ffffff;
	width: 93%;
}

/* SLIGHTLY DIFFERENT EDIT OF THE BODY (ABOVE) 
FOR THE BOOKS TABLE LAYOUR PAGE */
.bodybooks {
	border: 0px outset #ffffff;
	border-radius: 10px;
/*	box-shadow: 4px 4px 8px #181818; */
	padding-top: 10px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 5px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	margin-top: 3%;
	margin-right: 0%;
	margin-left: 3%;
	background-color: rgba(149, 232, 215, 0.9);
	font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;
	color: #ffffff;
	width: 93%;
}

/*THE FIRST THING YOU SEE, THE LOGO. THIS JUST
SETS THE SIZE, ROUNDED CORNERS, SHADOWS AND SO ON*/
.Logo {
	border: 1px solid rgba(255,255,255,1);
	border-radius: 4px;
	padding-right: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: none;
	width: 500px;
	height: 150px;
	align: center;
	box-shadow: 5px 7px 7px rgba(191,191,191,1);
}

/* TABLE THAT CONTAINS THE NAVIGATION BAR */
.tablenav {
	border: 2px outset #ffffff;
	border-radius: 4px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(30, 139, 195,0.6);
	opacity: 0.9;
	height: 40%;
	width: 80%;
}
/*COLOUR AND FORMATTING CONTROLS FOR VARIOUS 
PARTS OF THE NAVIGATION BAR. NO EDITING NEEDED HERE*/
.topnav {
  overflow: hidden;
  background-color: rgba(30, 139, 195,0.6);
  position: relative;
  border-radius: 10px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.topnav a.icon {
  background: rgba(149,232,215,1);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
  border-radius: 10px;
  color: black;
}

.topnav a:hover {
  background-color: rgba(108,120,198,1);
  color: black;
}

.active a:hover {
  background-color: rgba(144,153,212,1);
  color: white;
}

.topnavnohover a:hover {
  background-color: rgba(144,153,212,1);
  color: white;
}

/* FOR LINKS IN THE PAGE, NOT PART OF THE NAVIGATION BAR */
a:link, a:visited, a:active  {
 	color: white;
	text-shadow: none;
}
a:hover {
	color:white;
	/*text-shadow: 2px 2px 3px rgba(1, 1, 1, 1);*/
}

/* CONTROLS THE BORDERS AND FORMATTING OF THE SOCIAL
MEDIA IMAGE LINKS */
.socials
{
	border: 1px solid rgba(255,255,255,1);
	border-radius: 5px;
	padding-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: none;
	width: 110px;
	height: 110px;
	/*box-shadow: 5px 7px 7px rgba(191,191,191,1);*/
}

/*THE MAIN PURPLE TABLE WITH THE MAIN BODY TEXT IN */
.tablemain {
	border: 2px outset #ffffff;
	border-radius: 15px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(144,153,212,1);
	opacity: 0.9;
	width: 90%;

}

/* TABLE LAYOUT SPECIFIC TO THE BOOKS PAGE */
.tablebooks {
	border: 0px outset #ffffff;
	border-radius: 15px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(144,153,212,1);
	opacity: 0.9;
	margin-left:3%;
	width: 93%

}
/* UNIVERSAL IMAGE CONTROL. JUST ADDS ROUNDED CORNERS
AND A BORDER DOESNT CONTROL SIZE*/
.images
{
	border: 1px solid rgba(255,255,255,1);
	max-width: 100%;
	border-radius: 15px;
	padding-right: 0px;
	padding-left: 10px
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: none;
	/*box-shadow: 5px 7px 7px rgba(191,191,191,1);*/
}

.bookimages {
	border: 1px solid rgba(255,255,255,1);
	border-radius: 15px;
	padding-right: 0px;
	padding-left: 10px
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: none;
	/*box-shadow: 5px 7px 7px rgba(191,191,191,1);*/
	width: 200px;
	height: 300px;
}

/* NOT USED AT ALL, KEPT INCASE */
/*.seperator {
	border: 4px ridge #ffffff;
	border-radius: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
*/

/* FOOTER AT THE BOTTOM OF THE PAGE. NO EDITING NEEDED */
.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

/* CANT REMEMBER WHAT THIS IS FOR, BUT ITS IN USE */
.small {
	color: white;
	font-weight: none;
	text-decoration: none;
}