* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 99.5%;
border-radius: 15px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 0%;
  margin-left: 0%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}